html {
	font-family: Arial, Helvetica, sans-serif;
}

.nav {
	display: flex;
	flex-direction: row;
	position: relative;
}

.nav__item .nav__item__content {
	display: none;
	position: absolute;
	left: 0;
}

input:checked ~ .nav__item__content {
	display: block;
}

@media only screen and (max-width: 600px) {
	.nav {
		flex-direction: column;
	}
	.nav .nav__item .nav__item__content {
		position: relative;
	}
}
