html {
	font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

.nav {
	display: flex;
	flex-direction: row;
	position: relative;
}

.nav__item > input {
	visibility: hidden;
	position: absolute;
}

.nav__item > label > div {
	padding: 8px;
	background-color: grey;
}

.nav__item > .nav__item__content {
	display: none;
	position: absolute;
	left: 0;
	padding: 8px;
}

input:checked ~ .nav__item__content {
	display: block;
	background-color: lightgrey;
}

input:checked ~ label > div {
	background-color: lightgrey;
	border-bottom: none;
}

@media only screen and (max-width: 480px) {
	.nav {
		flex-direction: column;
		border-radius: 30px;
	}

	.nav__item {
		display: block;
	}

	.nav__item p {
		margin: 0;
	}

	.nav__item ~ .nav__item {
		padding: 0;
	}

	.nav .nav__item .nav__item__content {
		position: relative;
	}

	.nav__item > label > div {
		padding: 8px;
		border-bottom: 1px lightgrey solid;
	}

	input:checked ~ label > div {
		border-bottom: 1px grey solid;
	}
}
